* {
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
img {
    width: 100%;
    max-width: 500px;
}
.copland {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.window-area {
    position: relative;
    flex: 1;
}
video.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
}
.taskbar {
    z-index: 10000;
    padding: 2px;
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    background-color: silver;
    border-color: #dfdfdf;
    box-shadow: inset 0 1px 0 0 #fff;
    min-height: 28px;
}
.taskbar > button {
    padding: 0px 5px;
    display: flex;
    align-items: center;
}
.taskbar > button > span {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.taskbar-button-active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    font-weight: bold;
}
.taskbar-tools {
    margin-left: auto;
    display: flex;
    gap: 5px;
}
.taskbar-time {
    display: flex;
    align-items: center;
    place-content: center;
    padding: 0px 10px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -1px -1px #dfdfdf, inset 1px 1px grey;
    background: silver;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}
.new-sticky, .new-sticky:not(:disabled):active {
    display: flex;
    align-items: center;
    min-width: 0px;
    padding: 0 3px 0 10px;
}


.window {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.window-body {
    overflow-y: auto;
    max-height: -webkit-fill-available;
    margin: 0px;
    padding: 8px;
}
.title-bar-text-icon {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}
.title-bar-icon {
    margin-right: 3px;
    height: 15px;
    width: 15px;
    object-fit: contain;
}
.window-fullscreen {
    width: 100% !important;
    height: 100% !important; 
    top: 50% !important;
    left: 50% !important;
}

.spotify-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.spotify-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spotify-container img {
    width: 100px;
    height: 100px;
}
.spotify-container p {
    overflow: auto;
    text-overflow: ellipsis;
    margin: 0;
}


.sticky-note {
    background-color: #ceffce;
}
.sticky-note [aria-label="Maximize"] {
    display: none;
}
.sticky-note textarea {
    resize: none;
    width: -webkit-fill-available;
    width: fill-available;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
}
.history-container {
    margin-top: 10px;
}
.history-container > button {
    width: 100%;
    position: relative;
}
.history-container > button::after {
    content: url("data:image/svg+xml;charset=utf-8,<svg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/></svg>");
    bottom: 0px;
    right: 5px;
    position: absolute;
}
.history-container > button.open::after {
    content: url("data:image/svg+xml;charset=utf-8,<svg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/></svg>");
}
.lastfm-scroll-container {
    max-height: 200px;
    overflow-y: scroll;
}
.lastfm-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lastfm-container img {
    width: 50px;
    height: 50px;
    position: relative;
}
.lastfm-container img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url("/assets/default_album.png");
}
.lastfm-container > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.lastfm-container > div > div {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lastfm-container > div > div > p {
    margin: 0;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}