* {
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
img {
    width: 100%;
    max-width: 500px;
}
.copland {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.window-area {
    position: relative;
    flex: 1;
}
video.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
}
.taskbar {
    z-index: 10000;
    padding: 2px;
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    background-color: silver;
    border-color: #dfdfdf;
    box-shadow: inset 0 1px 0 0 #fff;
    min-height: 28px;
}
.taskbar > button {
    padding: 0px 5px;
    display: flex;
    align-items: center;
}
.taskbar > button > span {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.taskbar-button-active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    font-weight: bold;
}
.taskbar-time {
    display: flex;
    align-items: center;
    place-content: center;
    padding: 0px 10px;
    margin-left: auto;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -1px -1px #dfdfdf, inset 1px 1px grey;
    background: silver;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}
.window {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.window-body {
    overflow-y: auto;
    max-height: -webkit-fill-available;
    margin: 0px;
    padding: 8px;
}
.title-bar-text-icon {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}
.title-bar-icon {
    margin-right: 3px;
    height: 15px;
    width: 15px;
    object-fit: contain;
}
.window-fullscreen {
    width: 100% !important;
    height: 100% !important; 
    top: 50% !important;
    left: 50% !important;
}

.spotify-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.spotify-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spotify-container img {
    width: 100px;
    height: 100px;
}
.spotify-container p {
    overflow: auto;
    text-overflow: ellipsis;
    margin: 0;
}